<table>
  <tr>
    <td>
      <p class="lede">
        <%= Spree.t('order_mailer.cancel_email.dear_customer') %>
      </p>
      <p>
        <%= Spree.t('order_mailer.cancel_email.instructions') %>
      </p>
      <p>If you have paid, you will get refund soon.</p>
      <p>
        <%= Spree.t('order_mailer.cancel_email.order_summary_canceled') %>
      </p>
      <table>
        <tr>
          <td>Order number:</td>
          <td><%= @order.number %></td>
          <td></td>
          <td></td>
        </tr>
        <% @order.line_items.each do |item| %>
          <tr>
            <td><%= item.variant.sku %></td>
            <td>
              <%= raw(item.variant.product.name) %>
              (<%= raw(item.variant.options_text) %>)
            </td>
            <td><%= item.single_money %> x <%=item.quantity%></td>
            <td> = <%= item.display_amount %></td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td><%= Spree.t('order_mailer.cancel_email.subtotal') %></td>
          <td></td>
          <td><%= @order.display_item_total %></td>
        </tr>
        <% @order.adjustments.eligible.each do |adjustment| %>
          <tr>
            <td></td>
            <td><%= raw(adjustment.label) %></td>
            <td></td>
            <td><%= adjustment.display_amount %></td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td><%= Spree.t('order_mailer.cancel_email.total') %></td>
          <td></td>
          <td><%= @order.display_total %></td>
        </tr>
        <tr>
          <td>Shipping Address:</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <%= @order.ship_address.firstname%> <%= @order.ship_address.lastname%><br />
            <%= @order.ship_address.address1%><br />
            <% if @order.ship_address.address2 != nil and @order.ship_address.address2 != ""%>
              <%= @order.ship_address.address2%><br />
            <% end %>
            <%= @order.ship_address.city%> <%= @order.ship_address.zipcode%><br />
            <%= @order.ship_address.state.name%><br />
            <%= @order.ship_address.country.name%>
          </td>
          <td></td>
          <td></td>
        </tr>         
      </table>
    </td>
    <td class="expander"></td>
  </tr>
</table>
